<body>
  <h1>To do list...</h1>

<h2>Total: {{ total }}</h2>

<div
  class="flex flex-wrap"
  style="width: 50%; padding: 30px; border: 1px solid rgb(234, 179, 208); border-radius: 10px;"
>
  <div class="w-100" style="margin-bottom: 20px">
    <label class="label-text">Activity Name</label>
    <input type="text" class="mt-1" [(ngModel)]="activity" placeholder="Enter Activity..." />
  </div>

  <div class="w-100" style="margin-bottom: 20px">
    <label class="label-text">Price</label>
    <input
      class="mt-1"
      type="text"
      [(ngModel)]="price"
      onkeypress="return event.charCode >= 48 && event.charCode <= 57"
      placeholder="Enter Price..."
    />
  </div>

  <div class="w-100" style="margin-bottom: 20px">
    <label class="label-text">Type</label>
    <div class="w-100 flex flex-column mt-1" style="margin-bottom: 10px; gap: 10px;">
      <div class="flex flex-wrap">
        <input type="radio" [(ngModel)]="type" id="education" name="type" value="education" />
        <label for="type" style="margin-left: 5px"> Education</label>
      </div>
      <div class="flex flex-wrap">
        <input type="radio" [(ngModel)]="type" id="recreational" name="type" value="recreational" />
        <label for="type" style="margin-left: 5px"> Recreational</label>
      </div>
      <div class="flex flex-wrap">
        <input type="radio" [(ngModel)]="type" id="social" name="type" value="social" />
        <label for="type" style="margin-left: 5px"> Social</label>
      </div>
      <div class="flex flex-wrap">
        <input type="radio" [(ngModel)]="type" id="diy" name="type" value="diy" />
        <label for="type" style="margin-left: 5px"> Diy</label>
      </div>
      <div class="flex flex-wrap">
        <input type="radio" [(ngModel)]="type" id="charity" name="type" value="charity" />
        <label for="type" style="margin-left: 5px"> Charity</label>
      </div>
      <div class="flex flex-wrap">
        <input type="radio" [(ngModel)]="type" id="cooking" name="type" value="cooking" />
        <label for="type" style="margin-left: 5px"> Cooking</label>
      </div>
      <div class="flex flex-wrap">
        <input type="radio" [(ngModel)]="type" id="relaxation" name="type" value="relaxation" />
        <label for="type" style="margin-left: 5px"> Relaxation</label>
      </div>
      <div class="flex flex-wrap">
        <input type="radio" [(ngModel)]="type" id="music" name="type" value="music" />
        <label for="type" style="margin-left: 5px"> Music</label>
      </div>
      <div class="flex flex-wrap">
        <input type="radio" [(ngModel)]="type" id="busywork" name="type" value="busywork" />
        <label for="type" style="margin-left: 5px"> Busywork</label>
      </div>
    </div>
  </div>

  <div class="w-100" style="margin-bottom: 20px">
    <label class="label-text">Booking Required</label>
    <input
      class="mt-1"
      type="checkbox"
      [(ngModel)]="booking"
    />
  </div>


  <div class="w-100" style="margin-bottom: 30px">
    <label class="label-text">Accessibility</label>
    <input class="mt-1 ml-1" type="range" [(ngModel)]="accessibility" id="rangeInput" min="0" max="1" step="0.01" value="0.5"> {{ accessibility }}
  </div>


  <!--add button-->
  <button class="button" (click)="addList()">Add</button>
</div>


<h1>List</h1>
<table class="responsive-table">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Price</th>
      <th>Type</th>
      <th>Booking</th>
      <th>Accessibility</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of allTodoList; let i = index">
      <td>{{ row.activity }}</td>
      <td>{{ row.price }}</td>
      <td>{{ row.type }}</td>
      <td>{{ row.booking === true ? 'required' : 'not required'}}</td>
      <td>{{ row.accessibility }}</td>
      <td><button class="button" (click)="deleteRow(i)">Delete</button></td>
    </tr>
  </tbody>
</table>

</body>